@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html {
    margin: 25px;
    background-color: #f4f5f7;
    font-family: 'Segoe UI', sans-serif;
    font-size: 18px;
}

h3 {
    margin-top: 20px;
    background-color: #3273dc;
    color: white;
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
}

p {
    margin-top: 10px;
    margin-left: 15px;
    background-color: #ffffff;
    padding: 10px;
    border-left: 4px solid #00d1b2;
    border-radius: 4px;
}
